tutorial/tutorial/spiders/__pycache__/__init__.cpython-38.pyc
tutorial/tutorial/spiders/__pycache__/pokedex.cpython-38.pyc
tutorial/tutorial/__pycache__/__init__.cpython-38.pyc
tutorial/tutorial/__pycache__/items.cpython-38.pyc
tutorial/tutorial/__pycache__/settings.cpython-38.pyc
